---
layout: default
gallery:
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /assets/the-sleep-co-lamp.jpg
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /assets/the-sleep-co-white.jpg
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /assets/the-sleep-co-yellow.jpg
  - column-size: col-12
    aspect-ratio: landscape
    background_image: /assets/the-sleep-co-pug.jpg
  - column-size: col-6
    aspect-ratio: landscape
    background_image: /assets/the-sleep-co-yellow.jpg
  - column-size: col-6
    aspect-ratio: landscape
    background_image: /assets/the-sleep-co-white.jpg
---
<!-- NOTE: we use background_image instead of background-image so cloudcannon can show an image selctor option which is more intuitive  -->

<!-- .....................header................... -->

    <header class="grid tall100vh md-tall80">
      
        {% include header-nav.html %}

        <div class="col-12 text-center">
            <h3 class="font-weight-xbold editable" data-aos="fade-in" data-aos-duration="1000">
                <span class="featuredcolor-text">explore</span> our world
            </h3>
            <h1 class="font-weight-light" data-aos="fade-up" data-aos-delay="500"> the ultimate mattress solution</h1>
        </div>
    </header>

<!--  ..................gallery section................-->

 <!-- popup gallery -->

<section class="padded">

  <h2>popup gallery</h2>

  <div class="gallery grid" id="lightgallery">

    {% for item in page.gallery %}
    <!-- we change our <div> parent columns into anchor <a> links. Then add the href=”” attribute and inside it, the loop tag {{ }} for our image variable -->
    <a class="{{item.column-size}} gallery-item" href="{{item.background_image}}">
      <div class="bg-img {{item.aspect-ratio}}"
           style="background-image: url('{{item.background_image}}');">
      </div>
    </a>
    {% endfor %}
  </div>

</section>

<!-- other popup gallery, triggered by button to see all the pictures for instance -->

<section class="padded">

  <h2>popup gallery</h2>
  <div class="gallery grid" id="lightgallery-2">
    <a class="button" href="/assets/the-sleep-co-lamp.jpg" title="Funny dog 1">
        View Our Work 
    </a> 
    <a href="/assets/the-sleep-co-pug.jpg" title="pug"></a> 
    <a href="/assets/the-sleep-co-white.jpg" title="sheets"></a> 
    <a href="/assets/the-sleep-co-yellow.jpg" title="yellow"></a> 
    <a href="/assets/the-sleep-co-pug.jpg" title="pug"></a> 
    <a href="/assets/the-sleep-co-white.jpg" title="sheets"></a> 
    <a href="/assets/the-sleep-co-yellow.jpg" title="yellow"></a>  
  </div>
</section>


<!-- standard gallery -->

<section class="padded">

    <h2>standard gallery</h2>

    <div class="gallery grid">

        {% for item in page.gallery %}
        <div class="{{item.column-size}}">
          <div class="bg-img {{item.aspect-ratio}}"
               style="background-image: url('{{item.background_image}}');">
          </div>
        </div>
        {% endfor %}
    </div>

</section>

<!-- <div class="gallery grid">
        <div class="col-6">
            <div class="bg-img square bg-img-1"></div>
        </div> 
        <div class="col-6">
            <div class="bg-img square bg-img-2 bg-pos-b"></div>
        </div> 
        <div class="col-4_xs-12">
            <div class="bg-img portrait-tall bg-img-3"></div>
        </div> 
        <div class="col-4_xs-12">
            <div class="bg-img portrait-tall bg-img-4"></div>
        </div> 
        <div class="col-4_xs-12">
            <div class="bg-img portrait-tall "></div>
        </div> 
        <div class="col-12">
            <div class="bg-img landscape bg-img-5"></div>
        </div> 
    </div> -->

</section>