---
layout: default
cards:
 - heading: small heading
   desctription: this is a little description jsut to give some placeholder text
   featured_image: /assets/the-sleep-co-lamp.jpg
 - heading: small heading
   desctription: this is a little description jsut to give some placeholder text
   featured_image: /assets/the-sleep-co-white.jpg
 - heading: small heading
   desctription: this is a little description jsut to give some placeholder text
   featured_image: /assets/the-sleep-co-pug.jpg
---

<!-- ..................header section.............. -->

<header class="grid tall100vh md-tall80">
    
    {% include header-nav.html %}

    <div class="col-12 text-center">
        <h3 class="font-weight-xbold editable">
             <span class="featuredcolor-text"> Addictively </span> soft
        </h3>
        <h1 class="font-weight-light"> You won't want get out of bed </h1>
    </div>
</header>

<!-- .................feature symbol grid section.................. -->

<section class="bg-light padded grid">
    <div class="paddedsmall col-12 text-center">
        <h2> <span class="whitecolor-text">features</span> you will love</h2>
    </div>
    <div class="paddedsmall col-3">
       <h3> little heading </h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad ullam saepe corporis sapiente expedita illum dolorem
            corrupti quasi ex distinctio quod similique, necessitatibus fuga dignissimos consequuntur asperiores assumenda ipsam
            impedit!
        </p>
    </div>
    <div class="paddedsmall col-3">
        <h3> little heading </h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad ullam saepe corporis sapiente expedita illum dolorem
            corrupti quasi ex distinctio quod similique, necessitatibus fuga dignissimos consequuntur asperiores assumenda ipsam
            impedit!
        </p>
    </div>
    <div class="paddedsmall col-3">
        <h3> little heading </h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad ullam saepe corporis sapiente expedita illum dolorem
            corrupti quasi ex distinctio quod similique, necessitatibus fuga dignissimos consequuntur asperiores assumenda ipsam
            impedit!
        </p>
    </div>
    <div class="paddedsmall col-3">
        <h3> little heading </h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad ullam saepe corporis sapiente expedita illum dolorem
            corrupti quasi ex distinctio quod similique, necessitatibus fuga dignissimos consequuntur asperiores assumenda ipsam
            impedit!
        </p>
    </div>  
</section>

<!-- ..............cards section.................. -->

<section class="grid padded">

    {% for item in page.cards %}

    <div class="col-4 paddedsmall">
        <div class="card">
            <!-- Note: to make easy for clients to change images, instead of adding background-image to our CSS, we create an inline style in our HTML element tag and inside it, we set the background-image property - 
                then instead of adding url(‘ ‘) as the property value, we replace that with a loop called {{item.featured_image}}. And with that, under each object of our array, we add another variable with the same name where we will set the URL path to our images. 
                put _image is to make it more user friendly with cloudcanon-->
            <div class="bg-img portrait" style="background-image: url('{{item.featured_image}}')"> </div>
            <div class="padded-1">
                <h3> {{item.heading}} </h3>
                <p> {{item.description}} </p>
            </div>
        </div> 
    </div>
    
    {% endfor %}
    
</section>

<!-- ................. dark banner section.................. -->

<section class="padded grid-middle text-center tall40vh bg-dark">
    <div class="col-12-middle">
         <h3>   <span class="text-small font-weight-normal">spend over $150 and activate </span> 
                <br /> <span class="text-big"> <span class="featuredcolor-text">free</span> express shipping </span>
        </h3> 
    </div>        
</section>

<!-- .................gallery section.................. -->

<section class="grid">
    <div class="padded col-6-middle">
        <h2 class="editable">
            build to last a <span class="featuredcolor-text">lifetime</span>
        </h2>
        <p class="editable">
            Lorem <strong>ipsum</strong> dolor sit amet consectetur adipisicing elit.
        </p>
        <p class="editable">
            Labore optio iste eius unde, <strong>dolorem</strong> sed sit eligendi veritatis ab ea autem blanditiis atque in corporis asperiores impedit nobis voluptates fuga!
        </p>
    </div>
    <div class="col-6 bg-img tall70vh bg-img1">
    </div>

    <div class="col-6 bg-img tall70vh bg-img2">   
    </div>
    <div class="padded col-6-middle">
        <h2 class="editable">
            so <span class="featuredcolor-text">soft</span> you'll melt
        </h2>
        <p class="editable">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <p class="editable">
            Labore optio iste eius unde, dolorem sed sit eligendi veritatis ab ea autem blanditiis atque in corporis asperiores impedit nobis voluptates fuga!
        </p>
    </div>
    <div class="padded col-6-middle">
        <h2 class="editable">
            build to last a <span class="featuredcolor-text">lifetime</span>
        </h2>
        <p class="editable">
            Lorem <strong>ipsum</strong> dolor sit amet consectetur adipisicing elit.
        </p>
        <p class="editable">
            Labore optio iste eius unde, <strong>dolorem</strong> sed sit eligendi veritatis ab ea autem blanditiis atque in corporis asperiores impedit nobis voluptates fuga!
        </p>
    </div>
    <div class="col-6 bg-img tall70vh bg-img1">
    </div>
</section>
