/* ........... universal styles........ */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ...........temporary styles so can see structural build */

*{
    padding: 0.5rem;
    border: 1px solid rgb(222,222,222);
}

body {
    border: none;
}
html {
    border: none;
}

/* .........image styles......... */
.bg-img {
    background-image: url('/assets/the-sleep-co-lamp.jpg');
    background-size: cover;
    min-height: 10rem;
}

/* ....... universal styles and utility class */

.padded { padding: 5%;}
.paddedsmall { padding: 1rem;}

.bg-dark {
    background-color: #192B37;
    color: white;
}

/* .........section styles...... */

header {
    min-height: 40vh;
}