/* ........... universal styles........ */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ...........temporary styles so can see structural build */

*{
    padding: 0.5rem;
    border: 1px solid rgb(222,222,222);
}

body {
    border: none;
}
html {
    border: none;
}

/* .........image styles......... */
.bg-img {
    background-image: url('/assets/the-sleep-co-lamp.jpg');
    background-size: cover;
}